footer
    .footer-home-page
        .container
            .row.footer-home-page__menu
                +footer
    .footer-home-pay
        .container
            .row
                +footerPay
                +quickAnswer
    .footer-home-version
        .container
            .row
                .col-lg-6.footer-home-version__item
                    span
                        | Bản quyền thuộc về
                        span  Design Team.
                        |  Phát triển bởi
                        span  Bizweb.
                .col-lg-6.footer-home-version__item
                    +listNavFooter
