mixin breakcrumb(home, page)
    .col-lg-12.product-page__heading
        .category__heading
            h3= home
            i.product-filter__page-icon.fas.fa-caret-right
            h3.product-filter__page-heading=page