mixin productFeatured
    each listItemProduct in listItemProducts
        - const {img, title, price, rates, feedback} = listItemProduct
        .col-lg-4.col-md-6.home-product-mobile
            +productItem(img, title, price, rates, feedback)
