//- Home page heading
.home-page-product__heading {
    @include flex-center(space-between, center);

    .category__heading {
        @include flex-center(flex-start, center);

        h3 {
            @include font(20px, bold);
            text-transform: uppercase;
            padding-left: 10px;
        }
    }

    .home-filter__page {
        @include flex-center(flex-end, center);
        .home-filter__page-btn {
            display: block;

            .home-filter__page-icon {
                color: $text-gray;
                width: 40px;
                height: 40px;
                border: 1px solid $text-black;
                text-align: center;
                line-height: 40px;
                margin: 3px;
                &:hover {
                    color: $text-white;
                    background-color: $text-black;
                }
            }
        }
    }
}

//- Home product
.home-product {
    margin-top: 3rem;

    .home-product-item {
        padding: 14px 10px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        text-align: center;

        &:hover .home-product-item__button {
            opacity: 1;
        }

        img {
            width: 100%;
        }

        .home-product-item__price {
            @include font(12px, bold);
            display: block;
            color: $text-red;
        }

        .home-product-item__name {
            @include font(13px, bold);
            text-transform: uppercase;
            color: $text-black;
            padding: 8px 0;
        }

        .home-product-item__rating {
            @include flex-center(center, center);
            @include font(10px, 400);
            padding: 8px 0;

            .home-product-item__star {
                &:not(:nth-child(5)) {
                    color: $bg-primary;
                }
            }

            .home-product-item__feedback {
                color: $text-gray;
                padding-left: 4px;
                font-style: italic;
            }
        }

        .home-product-item__button {
            opacity: 0;
            transition: 0.5s opacity;
            margin: 10px 0;

            a {
                text-decoration: none;
                @include font(14px, bold);
                color: $text-white;
                padding: 10px 14px;
                @include respond(desktop) {
                    padding: 8px;
                }
                &:hover {
                    opacity: 0.8;
                }
            }

            .home-product-item__buy {
                background-color: $bg-primary;
            }

            .home-product-item__detail {
                margin-left: 8px;
                background-color: $bg-menu;
            }
        }
    }
}

@include respond(mobile) {
    .home-product-mobile:nth-child(n + 2) {
        display: none;
    }
}

// home-filter__page
.home-filter__page {
    .home-filter__page-option {
        @include flex-center(center, center);
        @include respond(tablet) {
            display: none;
        }
        margin-right: 20px;

        .home-filter__page-option-item {
            border: solid 1px $text-gray;
            padding: 7px 14px;
            background-color: $bg-white;
            margin: 0 8px;

            a {
                display: block;
                color: $text-gray;
                text-decoration: none;

                &:hover {
                    color: $text-white;
                }
            }

            &:hover {
                background-color: $bg-primary;
            }
        }
    }

    .home-filter__page-button {
        @include flex-center(center, center);
    }
}

.product-page__heading {
    .category__heading {
        @include flex-center(flex-start, center);

        h3 {
            @include font(14px, 400);
            padding-left: 0;
            color: $text-gray;
            text-transform: capitalize;
        }

        .product-filter__page-icon {
            padding: 0 8px;
        }

        .product-filter__page-heading {
            color: $text-black;
        }
    }
}

.home-product__pagination {
    @include flex-center(flex-end, center);

    .pagination__list {
        @include flex-center(center, center);
        margin: 3rem 0;

        .page-item {
            @include respond(mobile) {
                padding: 4px 8px;
            }
            margin: 0 4px;
            color: $text-gray-2;
            cursor: pointer;

            .page-link {
                display: block;
                padding: 8px 12px;
                background-color: $text-white;
                color: $text-black;
                border: 1px solid $text-gray-2;

                &:hover {
                    background-color: $bg-primary;
                    color: $text-white;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .page-item.active .page-link {
            background-color: $bg-primary;
            color: $text-white;
        }
    }
}

.category-item__heading {
    @include flex-center(flex-start, center);
    padding: 27px 14px;
    background-color: $bg-menu;

    span {
        margin-left: 8px;
        color: $bg-primary;
        text-transform: uppercase;
        cursor: default;
    }
}

.category-item {
    cursor: pointer;

    &:hover > .category-item__link {
        color: $bg-primary !important;
        background-color: $bg-menu !important;
    }
}

.category-item.active {
    color: $bg-primary !important;
    background-color: $bg-menu !important;
}
