$bg-top: #f7f7f7;
$bg-menu: #202020;
$bg-white: #fff;
$bg-primary: #f5bd10;
$text-white: #fff;
$text-red: #ec2121;
$text-gray: #9c9c9c;
$text-black: #202020;
$text-gray-2: #636363;
$border: #e1e1e1;

//responsive
$mobile-width: 425px;
$tablet-width: 769px;
$desktop-width: 1024px;