.section-page {
    @extend .section-featured__product;
    @extend .section-new__product-2;
    margin: 3rem 0;

    .product-page__list {
        .category {
            .category-list {
                box-shadow: none;

                .category__list {
                    &:nth-of-type(2n) {
                        margin: 20px 0;
                    }

                    .category-product__item.actived,
                    .category-price__item.actived {
                        background-color: $bg-menu;
                    }

                    .category-item {
                        @include respond(mobile) {
                            &:nth-child(2) {
                                display: block;
                            }
                        }
                        @include respond(tablet) {
                            &:nth-child(2n + 1) {
                                display: none;
                            }
                        }

                        img {
                            color: $text-gray;
                        }
                    }

                    .home-product-item {
                        @include flex-center(flex-start, flex-start);
                        @include respond(mobile) {
                            img {
                                width: 30%;
                            }

                            &:nth-child(2n + 1) {
                                display: none;
                            }
                        }
                        @include respond(tablet) {
                            img {
                                width: 30%;
                            }

                            &:nth-child(2n + 1) {
                                display: none;
                            }
                        }
                        text-decoration: none;
                        border: 1px solid $text-gray;

                        .home-product-item__content {
                            padding-top: 20px;

                            .home-product-item__name {
                                @include font(14px, bold);
                                text-transform: uppercase;
                                color: $text-black;
                            }

                            .home-product-item__price {
                                color: $text-red;
                            }
                        }
                    }
                }
            }
        }
    }

    .home-filter {
        @include flex-center(space-between, center);
        margin-top: 3rem;
        padding: calc(1rem + 7px) 0;
        border-bottom: 1px solid $text-gray;

        .home-filter__sort {
            @include flex-center(flex-start, center);
            @include respond(mobile) {
                margin-right: auto;
            }

            .select-input {
                @include flex-center(flex-start, center);
                @include respond(mobile) {
                    flex-direction: column;
                }

                .select-input__list {
                    @include flex-center(center, center);
                    @include respond(mobile) {
                        margin-left: auto;
                        margin: 4px;
                    }
                    margin-left: 20px;

                    select {
                        border: 1px solid $text-gray-2;
                        padding: 4px 8px;

                        &:nth-child(2) {
                            width: 80px;
                            margin-left: 10px;
                        }
                    }

                    label {
                        margin: 0;
                    }
                }
            }
        }

        .home-filter__page {
            @include flex-center(flex-start, center);
            @include respond(mobile) {
                margin-left: auto;
                margin-top: 5px;
            }

            .home-filter__page-btn {
                &:first-child {
                    margin: 0 4px;
                }

                .home-filter__page-icon {
                    border: 1px solid $text-gray-2;
                    padding: 3px 8px;

                    img {
                        width: 19px;
                    }
                }
            }
        }
    }

    .home-product {
        .home-product-item {
            @include flex-center(flex-start, center);
            margin: 14px 0;

            img {
                @include respond(mobile) {
                    width: 39%;
                }
                width: 25%;
            }

            .home-product-item__content {
                .home-product-item__rating {
                    font-size: 12px;
                }

                p {
                    font-size: 14px;
                    color: $text-gray-2;
                }

                .home-product-item__price {
                    font-size: 20px;
                }

                .home-product-item__button {
                    a {
                        @include respond(mobile) {
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }
}
