-
    const blogDetailItems = [
        {
            img : "./assets/images/blog-1.png",
            title : "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            author : "Design Team",
            comment : "12",
            content : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.",
            img2 : "./assets/images/blog-2.png",
            content2 : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.",
            img3 : "./assets/images/blog-3.png",
            content3 : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta."
        }
    ]
-
    const tagBlogs = [
        "máy khoan",
        "máy cắt cnc",
        "máy in 3D",
        "công nghiệp",
        "hàn xì",
        "uốn thép"
    ]
-
    const comments = [
        {
            img : "./assets/images/blog-comment.png",
            name : "hoang truong anh",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            content : "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero fugit ab sed, perferendis corrupti sint eius. Reiciendis similique voluptates temporibus"
        },
        {
            img : "./assets/images/blog-comment.png",
            name : "hoang truong anh",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            content : "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero fugit ab sed, perferendis corrupti sint eius. Reiciendis similique voluptates temporibus"
        },
        {
            img : "./assets/images/blog-comment.png",
            name : "hoang truong anh",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            content : "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero fugit ab sed, perferendis corrupti sint eius. Reiciendis similique voluptates temporibus"
        }
    ]
