-
    const listCategoryNews = [
        "Danh mục tin tức",
        "Đời sống pháp luật (5)",
        "Kinh tế trong nước (8)",
        "Sức khỏe và gia đình (9)",
        "Công nghệ thông tin (5)",
        "Tin tức khác (12)"
    ]
-
    const listCategoryImages = [
        {
            title : "Thư viện hình ảnh",
            imgs : [
                "./assets/images/library-img-1.png",
                "./assets/images/library-img-2.png",
                "./assets/images/library-img-3.png",
                "./assets/images/library-img-4.png",
                "./assets/images/library-img-5.png",
                "./assets/images/library-img-6.png"
            ]
        }
    ]
-
    const blogItems = [
        {
            img : "./assets/images/blog-1.png",
            title : "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            author : "Design Team",
            comment : "12",
            content : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta."
        },
        {
            img : "./assets/images/blog-2.png",
            title : "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            author : "Design Team",
            comment : "12",
            content : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta."
        },
        {
            img : "./assets/images/blog-3.png",
            title : "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            author : "Design Team",
            comment : "12",
            content : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta."
        },
        {
            img : "./assets/images/blog-4.png",
            title : "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            author : "Design Team",
            comment : "12",
            content : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta."
        }
    ]
-
    const tags = [
       {
            title : "Thẻ tags",
            items : [
                "Thời trang",
                "Máy khoan",
                "news",
                "Công nghiệp",
                "Xây dựng",
                "Máy cắt",
                "Phay",
                "Hóa chất"
            ] 
        }
    ]
