-
    const listBrands = [
        "./assets/images/brand1.png",
        "./assets/images/brand2.png",
        "./assets/images/brand3.png",
        "./assets/images/brand4.png",
        "./assets/images/brand5.png",
    ]