-
    const items = [
        {
            index : 1,
            img : "./assets/images/product1.png",
            info : "máy khoan cắt đa năng cnc",
            price : "2.350.00 Đ",
            amount : 1,
            total : "2.350.00 Đ"
        },
        {
            index : 2,
            img : "./assets/images/product2.png",
            info : "máy khoan cắt đa năng cnc",
            price : "2.350.00 Đ",
            amount : 1,
            total : "2.350.00 Đ"
        },
        {
            index : 3,
            img : "./assets/images/product3.png",
            info : "máy khoan cắt đa năng cnc",
            price : "2.350.00 Đ",
            amount : 1,
            total : "2.350.00 Đ"
        }
    ]
-
    const titles = [
        "stt",
        "sản phẩm",
        "thông tin",
        "đơn giá",
        "số lượng",
        "thành tiền",
        "xóa"
    ]
