-
    const listImages = [
        "./assets/images/product2.png",
        "./assets/images/product3.png",
        "./assets/images/product4.png",
        "./assets/images/product5.png",
        "./assets/images/product6.png",
    ]
-
    const listProductDetails = [
        {
            img : "./assets/images/product1.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product2.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product3.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product4.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product5.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product6.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product7.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product8.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product9.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product10.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product3.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product6.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        }
    ]
