-
    const listMenuFooters = [
        {
            title: "về chúng tôi",
            listMenus: [
                {
                    name : "Công ty Cổ phần Công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử"
                },
                {
                    icon : "fas fa-map-marker-alt",
                    name : "Tầng 4 - Tòa nhà Hanoi Group 442 Đội Cấn Ba Đình - Hà Nội"
                },
                {
                    icon : "fas fa-envelope",
                    name : "support@dkt.com.vn"
                },
                {
                    icon : "fas fa-mobile-alt",
                    name : "(84-4) 66558868 - (84-4) 37868904"
                }
            ]
        },
        {
            title : "chính sách",
            listMenus : [
                "Chính sách giao hàng",
                "Chính sách đổi sản phẩm",
                "Chính sách bảo hành",
                "Chính sách trả góp",
                "Giới thiệu hàng đổi trả",
                "Vận chuyển miễn phí"
            ]
        },
        {
            title : "dịch vụ & hỗ trợ",
            listMenus : [
                "Hệ thống cửa hàng",
                "Hướng dẫn mua hàng",
                "Hướng dẫn thanh toán",
                "Tích điểm đổi thưởng",
                "Dịch vụ đổi trả hàng",
                "Câu hỏi thường gặp"
            ]
        },
        {
            title : "tin tức-sự kiện",
            listMenus : [
                "Tin tức mới nhất",
                "Tin tức khuyến mại",
                "Tuyển dụng, đãi ngộ",
                "Dowload tài liệu",
                "Chương trình đối tác",
                "Nhà phát triển ứng dụng"
            ]
        },
        {
            title : "kết nối",
            listMenus : [
                {
                    icon : "fab fa-facebook-f",
                    name : "Facebook"
                },
                {
                    icon : "fab fa-twitter",
                    name : "twitter"
                },
                {
                    icon : "fab fa-google-plus-g",
                    name : "Google"
                },
                {
                    icon : "fab fa-skype",
                    name : "Skype"
                },
                {
                    icon : "fab fa-instagram",
                    name : "Instagram"
                }
            ]
        }
    ]
-
    const listPays = [
        "./assets/images/bank1.png",
        "./assets/images/bank2.png",
        "./assets/images/bank3.png",
        "./assets/images/bank4.png",
        "./assets/images/bank5.png",
        "./assets/images/bank6.png",
        "./assets/images/bank7.png",
        "./assets/images/bank8.png",
    ]
- const listNavFooter = ['trang chủ', 'giới thiệu', 'sản phẩm', 'tin khuyến mại', 'dịch vụ', 'liên hệ'];
-
    const quickAnswers = [
        {
            icon : "fas fa-phone",
            text : "Tư vấn miễn phí (24/7)",
            phone : "1900 650 650"
        },
        {
            icon : "fas fa-comments",
            text : "Góp ý - phản hồi - thắc mắc",
            phone : "1900 650 650"
        }
    ]
