-
    const listCategoryItemGrids = [
        {
            img : "./assets/images/product1.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product5.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product7.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product9.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product2.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product1.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product5.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product3.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product2.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product1.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product5.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product7.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product9.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product2.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product1.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product5.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product3.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product2.png",
            title : "Máy khoan black decker",
            price : "1.550.000 Đ",
            rates : "5",
            feedback : "12"
        }
    ]
