-
    const listCart = [
        {
            img : "./assets/images/product1.png",
            title : "Máy khoan black decker",
            amount : "1",
            price : "1.2500.000 Đ"
        },
        {
            img : "./assets/images/product2.png",
            title : "Máy khoan black decker",
            amount : "1",
            price : "1.2500.000 Đ"
        },
        {
            img : "./assets/images/product3.png",
            title : "Máy khoan black decker",
            amount : "1",
            price : "1.2500.000 Đ"
        }
    ]
-
    const megaMenus = [
        {
            title: "máy khoan đa năng cnc",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện',
                'Máy ép gỗ chuẩn Nano'
            ]
        },
        {
            title: "máy cắt plasmar",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện',
                'Máy ép gỗ chuẩn Nano']
        },
        {
            title: "máy phay công nghiệp",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện',
                'Máy ép gỗ chuẩn Nano']
        },
        {
            title: "máy ép nhựa thủ công",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện']
        },
        {
            title: "máy uốn tôn điện",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện']
        },
         {
            title: "máy nén khí cnc",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện']
        }
    ]
- const listMenu = ["Giới thiệu chung", "Hệ thống cửa hàng", "Chính sách ưu đãi", "Thông tin tuyển dụng"]
- const listSystem = ["Hệ thống cửa hàng A","Hệ thống cửa hàng A1","Hệ thống cửa hàng A2","Hệ thống cửa hàng A3",]
-
    const listNav = [
        {
            name : "trang chủ",
            url : "./index.html"
        },
        {
            name : "giới thiệu",
        },
        {
            name : "sản phẩm",
            url : "./list-product.html"
        },
        {
            name : "tin khuyến mại",
        },
        {
            name : "dịch vụ",
        },
        {
            name : "liên hệ",
        }
    ]
