-
    const paginations = [
        "1",
        "2",
        "3"
    ]
-
    const listCategoryPromotions = [
        {
            title : "Sản phẩm khuyến mại",
            listItem : [
                {
                    img : "./assets/images/product2.png",
                    title : "Máy khoan black decker loại 1",
                    price : "1.550.000 Đ"
                },
                {
                    img : "./assets/images/product9.png",
                    title : "Máy khoan black decker loại 1",
                    price : "1.550.000 Đ"
                },
                {
                    img : "./assets/images/product4.png",
                    title : "Máy khoan black decker loại 1",
                    price : "1.550.000 Đ"
                },
                {
                    img : "./assets/images/product6.png",
                    title : "Máy khoan black decker loại 1",
                    price : "1.550.000 Đ"
                },
                {
                    img : "./assets/images/product8.png",
                    title : "Máy khoan black decker loại 1",
                    price : "1.550.000 Đ"
                }
            ]
        }
    ]
-
    const listCategoryProduct = [
        {
            title : "Danh mục sản phẩm",
            listProducts : [
                "Máy khoan, cắt CNC",
                "Máy in phun khổ lớn",
                "Máy hàn điện Alunnima",
                "Máy khoan Demameta",
                "Máy phay đa năng CNC",
                "Máy mài, tiện DC 12V",
                "Máy khoan, cắt CNC",
                "Máy quay thông minh N3",
                "Motor R34C đa dụng",
                "Máy in laser màu 3D"
            ]
        }
    ]
-
    const listCategoryPrice = [
        {
            title : "Tìm theo mức giá",
            listPrices : [
                {
                    price : 200000,
                },
                {
                    price : 500000,
                },
                {
                    price : 1000000,
                },
                {
                    price : 2000000,
                },
                {
                    price: 9000000
                }
            ]
        }
    ]
-
    const listCategoryColors = [
        {
            name : "Tìm theo màu sắc"
        },
        {
            icon: "./assets/images/icon-color-red.png",
            name: "Màu đỏ (45)"
        },
        {
            icon: "./assets/images/icon-color-yellow.png",
            name: "Màu vàng (32)"
        },
        {
            icon: "./assets/images/icon-color-blue.png",
            name: "Màu xanh (27)"
        },
        {
            icon: "./assets/images/icon-color-gray.png",
            name: "Màu bạc (16)"
        },
        {
            icon: "./assets/images/icon-color-black.png",
            name: "Màu đen (9)"
        }
    ]
