- const listOption = ["Máy khoan", "Máy in 3D", "Máy CNC", "Máy tiện", "Máy khác"];
-
    const listNewProduct = [
        {
            img : "./assets/images/product7.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product8.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
        {
            img : "./assets/images/product9.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12"
        },
    ]
