-
    const listNewItems = [
        {
            img : "./assets/images/product1.png",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12",
            decription : "Lorem ipsum, dolor sit amet consectetur adipisicing elit. .",
            price : "1.550.000 Đ"
        },
        {
            img : "./assets/images/product5.png",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12",
            decription : "Lorem ipsum, dolor sit amet consectetur adipisicing elit. .",
            price : "1.550.000 Đ"
        },
        {
            img : "./assets/images/product7.png",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12",
            decription : "Lorem ipsum, dolor sit amet consectetur adipisicing elit. .",
            price : "1.550.000 Đ"
        },
        {
            img : "./assets/images/product9.png",
            title : "Máy khoan black decker",
            rates : "5",
            feedback : "12",
            decription : "Lorem ipsum, dolor sit amet consectetur adipisicing elit. .",
            price : "1.550.000 Đ"
        }
    ]