-
    const listItem = [
        {
            icon: "fas fa-plane fa-2x",
            title: "miễn phí vận chuyển",
            content: "Chúng tôi vận chuyển miễn phí với các đơn hàng trị giá trên 1000.000 Đ."
        },
        {
            icon: "fas fa-sync-alt fa-2x",
            title: "chính sách đổi trả",
            content: "Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên."
        },
        {
            icon: "fas fa-gift fa-2x",
            title: "khuyến mại hàng tuần",
            content: "Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn."
        },
        {
            icon: "fas fa-thumbs-up fa-2x",
            title: "cam kết hàng chính hãng",
            content: "Chúng tôi cam kết hàng chính hãng 100% với tất cả các loại sản phẩm."
        }
    ]