extends ../base/base

block body
    section.section-cart.section-page
        .container
            .row
                +breakcrumb("Trang chủ", "Giỏ hàng")
                .cart
                    table.table.table-bordered.cart-container
                        thead
                            tr
                                +titleCart
                        tbody.cart-body__list
                .cart-total-container.col-lg-12
                    .cart-total-title
                        span Tổng tiền:
                        span thuế(vat):
                        span thanh toán:
                    .cart-total-content
                        span.total
                        span
                        span.total
                .cart-button.col-lg-12
                    .cart-btn.cart-continue tiếp tục mua hàng
                    .cart-btn.cart-pay thanh toán
